trunk/ichartjs/resources/rpc.xml

<?xml version="1.0" ?><wsdl:definitions name="OrderProcessImplService" targetNamespace="http://order.demo/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://order.demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://order.demo/" version="1.0" xmlns:tns="http://order.demo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getOrder" type="tns:getOrder"></xs:element>
<xs:element name="getOrderResponse" type="tns:getOrderResponse"></xs:element>
<xs:element name="processOrder" type="tns:processOrder"></xs:element>
<xs:element name="processOrderResponse" type="tns:processOrderResponse"></xs:element>
<xs:element name="queryOrder" type="tns:queryOrder"></xs:element>
<xs:element name="queryOrderResponse" type="tns:queryOrderResponse"></xs:element>
<xs:complexType name="getOrder">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="getOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:order"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="order">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:complexType name="queryOrder">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="queryOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="processOrder">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:order"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="processOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="processOrderResponse">
    <wsdl:part element="tns:processOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderResponse">
    <wsdl:part element="tns:getOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrder">
    <wsdl:part element="tns:getOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryOrder">
    <wsdl:part element="tns:queryOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryOrderResponse">
    <wsdl:part element="tns:queryOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processOrder">
    <wsdl:part element="tns:processOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderProcess">
    <wsdl:operation name="getOrder">
      <wsdl:input message="tns:getOrder" name="getOrder">
    </wsdl:input>
      <wsdl:output message="tns:getOrderResponse" name="getOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryOrder">
      <wsdl:input message="tns:queryOrder" name="queryOrder">
    </wsdl:input>
      <wsdl:output message="tns:queryOrderResponse" name="queryOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processOrder">
      <wsdl:input message="tns:processOrder" name="processOrder">
    </wsdl:input>
      <wsdl:output message="tns:processOrderResponse" name="processOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderProcessImplServiceSoapBinding" type="tns:OrderProcess">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getOrder">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getOrder">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getOrderResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryOrder">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="queryOrder">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="queryOrderResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processOrder">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="processOrder">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="processOrderResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderProcessImplService">
    <wsdl:port binding="tns:OrderProcessImplServiceSoapBinding" name="OrderProcessImplPort">
      <soap:address location="http://localhost:8080/cxf/OrderProcess"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>